/* position for main */
.main-nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	max-width: 1440px;
	margin: 0px auto;
	padding: 10px 20px;
}

.main-nav-direction li{
	flex: 1;

}

/* position for logo */
.main-nav-logo{
	order: 1;
	flex-grow: 0;
}
/* position for ul link*/
.main-nav-direction{
	order: 2;
	flex-grow: 2;
}
.main-nav-direction ul{
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	list-style: none;
	flex: 1;
}
/* side nav icon */
.side-nav-icon{
	display: none;
}
/* postion for icons */
.main-nav-icon{
	order: 3;
	flex-grow: 0;
}

/*flexbox for class that show as row */
.responsive-row {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 1em;
	box-sizing: border-box;
}

.col-of-1 {
	flex-basis: 100%;
	/*flex:1;*/
	padding: 1em;
	box-sizing: border-box;
}

.col-of-2 {
	flex-basis: 50%;
	/*flex:1;*/
	padding: 1em;
	box-sizing: border-box;
}

.col-of-3{
/*	flex:1;*/
	padding: 1em;
	box-sizing: border-box;
	flex-basis: 33%;
}
.col-of-4{
/*	flex:1;*/
	padding: 0.7em;
	box-sizing: border-box;
	flex-basis: 25%;
}

.col-of-5{
	/*flex:1;*/
	padding: 0.5em;
	box-sizing: border-box;
	flex-basis: 20%;
}
.col-2-5 {
	padding: 0.5em;
	box-sizing: border-box;
	flex-basis: 40%;

}
.col-3-5 {
	padding: 0.5em;
	box-sizing: border-box;
	flex-basis: 60%;

}
.col-3-10 {
	padding: 0.5em;
	box-sizing: border-box;
	flex-basis: 30%;

}

.col-7-10 {
	padding: 0.5em;
	flex-basis: 70%;
	box-sizing: border-box;
}


.tab{
	flex: 1;
	justify-content: space-between;
}


.tagSelector{
	flex-grow: 1;
	justify-content: flex-start;
}


.steps {
  	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1em; 
}

/*.col-of-6{
	flex:1;
	padding: 0.3em;
	box-sizing: border-box;
	flex-basis: 16%;
}*/
/* product image on project page */
.productsImage{
	justify-content: flex-start;
	/*align-items: stretch;*/
}

/* recent view section */
.recentView {
	justify-content: center;
}


/* alining item list */
.items{
	align-items: flex-end;
	justify-content: flex-start;
}


/*flexbox for chair1 page*/
.product {
	align-items: flex-start;
	padding-top: 2em;
}



.materialImage div {
	padding: 0;
}

.chair1Colours div {
	margin: 0 0.2em 0 0;
}

.checkoutItem{
	align-items: center;
}

/*
	Responsive web
*/

@media(max-width: 890px){
	/* position for logo */
	.main-nav-logo{
		order: 2;
		flex-grow: 0;
	}
	.side-nav-icon{
		display: block;
		order: 1;
		flex-grow: 0;
	}
	/* position for ul link*/
	.main-nav-direction{
		display: none;
	}
	
	/* postion for icons */
	.main-nav-icon{
		order: 3;
		flex-grow: 0;
	}

}
@media(max-width: 506px){
	/* make product list into column*/
	.responsive-col{
		flex-direction: column;
	}
	.productsImage img{
		width: 100%;
		height: auto;
	}
	.productShow img{
		width: 100%;
		height: auto;
	}
}