/* DEFAULT SETTING */
body {
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}
/* Styling for the heading */
h1{
 	font-size: 1.5rem;
  	font-weight: bold;
}
h2{
  	font-size: 1.1rem;
  	font-weight: bold;
}
h3{
  	font-size: 1rem;
  	font-weight: bold;
  	font-style: italic;
}
img {
	width: 100%;
	height: auto;
	display: block;
	margin: auto;
}
p{
	color: rgb(150,150,150);
	text-align: center;
	font-size: 0.9rem;
}

/* Styling for the description */
.desc{
  	font-size: 1rem;
  	text-align: left;
  	font-style: italic;
}
.para{
  	font-size: 1rem;
  	text-align: left;
}
/* setting size for icons and logo */
.icon{
	width: 25px;
	height: auto;
	display: inline-block;
}
.logo{
	width: 100px;
	height: auto;
}


/*
	MAIN NAVIGATION
*/
/* remove all decoration on main navigation */
.main-nav a{
	text-decoration: none;
}

/* adding border to main nav*/
.main-nav-section{
	border-bottom: 1px solid;
	border-color: #b8d1c9;
	background-color: white;
	box-shadow: 3px 3px 16px #72d1b5;

}
/* position for logo */
.main-nav-logo{
	padding: 0 0px 0 0;
}

.main-nav-direction ul{
	list-style: none;
}
.main-nav-direction li{
	font-size: 1rem;
	text-align: center;
	line-height: 30px;
}

/* editing main nav and side nav link */
.main-nav-direction a, .cbp-spmenu a{
	display: block;
	color: rgb(139,203,200);
	text-decoration: none;
}

.main-nav-direction a:hover,.main-nav-direction a:focus, .cbp-spmenu a:hover, .cbp-spmenu a:focus {
	text-decoration: none;
	color: rgb(236,199,12);
}
a.select{
	color: #666;
	text-decoration: underline;
	text-shadow: 0px 6px 3px #666;
}

/*
	Home page  
*/

/*CONTENT*/
.body-content-section{
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 20px;
	min-height: auto;
}


/*
	Main Image
*/
.mainImage{
	width: 100%;
	display: block;
	margin: 5em auto 5em auto;
	box-sizing: border-box;
	height: auto;	
	position: relative;
}

.mainImage img{
    margin: auto;
    width: 100%;
    border:solid;
    border-width: 1px;
    border-radius: 12px;
    border-color: #b8d1c9;
}

.mainImage a{
	color: transparent; 
 }

.previousButton {
	display: block;
	position: absolute;
	background-image: url("../img/previousButton.png");
	background-size: 3em 3em;
	background-repeat: no-repeat;
	width: 3em;
	height: 3em;
	z-index: 5;
	opacity: 0.5;
	top: 45%;
	left: 0;
}


.nextButton {
	display: block;
	position: absolute;
	background-image: url("../img/nextButton.png");
	background-size: 3em 3em;
	background-repeat: no-repeat;
	width: 3em;
	height: 3em;
	z-index: 100;
	opacity: 0.5;
	top: 45%;
	right: 0;
}


/*Service intro*/
.serviceIntro img {
	width: 30%;
}


.button-view {
  display: inline-block;
  border: none;
  padding: 0.3em 0.5em;
  color: #FFF;
  background-color: rgb(139,203,200);
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button-view:hover, .button-nav:focus {
  background-color: rgb(138,203,230);
}



.items .button-view {
	opacity: 0.5;
}

.pageNums {
	text-align: center;
	display: block;
	width: 100%;
	margin: 0em 0 3em 0;

}

.pageNums a {
	padding: 0.5em;
	border:solid;
    border-width: 0.5px;
    border-radius: 3px;
    border-color: #ccc;
    color: #aaa;
    text-decoration: none;
}

/* back to previous page buttom*/
.back-to-previous {
	padding: 1em;
	position: absolute;
}

.mainChairImage {
	width: 100%;
	height: auto;
}

.subChairImage {
	width: 30%;
	height: auto;
}

.materialImage img {
	width: 50%;
	height: auto;
}


#chair1Colour1 {background: #222;}
#chair1Colour2 {background: #eee;}
#chair1Colour3 {background: #aaa;}

.chair1Colours div{
	height: 2em;
}

/* product detail price + button follow left */
.info-left {
	text-align: left;
}
/*Table page css*/




