/* DEFAULT SETTING */
body {
	height: 100%;
	min-height: 100%;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

/* Styling for the heading */
h1{
 	font-size: 1.5rem;
  	font-weight: bold;
}
h2{
  	font-size: 1.1rem;
  	font-weight: bold;
}
h3{
  	font-size: 1rem;
  	font-weight: bold;
  	font-style: italic;
}
img {
	width: 100%;
	height: auto;
	display: block;
	margin: auto;
}
p{
	color: rgb(100,100,100);
	text-align: center;
	font-size: 0.9rem;
}

/*form {
    border: 3px solid #eee;
    padding: 2em;
}*/

input[type=text], input[type=password] {
    width: 	100%;
    padding: 1em 1.5em;
    margin: 0.5em 0;
    display: inline-block;
    border: 1px solid #8BCBC8;
    box-sizing: border-box;
    color: #aaa;
}

button {
    background-color: #8BCBC8;
    color: white;
    padding: 0.8em 1em;
    margin: 0.5em 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Styling for the description */
.desc{
  	font-size: 1rem;
  	text-align: left;
  	font-style: italic;
}
.para{
	/*color: rgb(150,150,150);*/
  	font-size: 1rem;
  	text-align: left;
}
/* setting size for icons and logo */
.icon{
	width: 25px;
	display: inline-block;
}
.logo{
	width: 100px;
	height: auto;
}

/* paragraph alin left + right */
.info-left {
	text-align: left;
}
.info-right {
	text-align: right;
}
/*
	MAIN NAVIGATION
*/
/* remove all decoration on main navigation */
.main-nav a{
	text-decoration: none;
}

/* adding border to main nav*/
.main-nav-section{
	border-bottom: 1px solid;
	border-color: #b8d1c9;
	background-color: white;
	box-shadow: 3px 3px 16px #72d1b5;
	position: fixed;
	width: 100%;
	z-index: 200;
	top: 0;
	left: 0;
}
/* position for logo */
.main-nav-logo{
	padding: 0 0px 0 0;
}

.main-nav-direction ul{
	list-style: none;
}
.main-nav-direction li{
	font-size: 1rem;
	text-align: center;
	line-height: 30px;
}

/* editing main nav and side nav link */
.main-nav-direction a, .cbp-spmenu a{
	display: block;
	color: rgb(139,203,200);
	text-decoration: none;
}

.main-nav-direction a:hover,.main-nav-direction a:focus, .cbp-spmenu a:hover, .cbp-spmenu a:focus {
	text-decoration: none;
	color: rgb(236,199,12);
}
a.select{
	color: #666;
	text-decoration: underline;
	text-shadow: 6px 6px 8px #666;
}
/*
	side navigation
*/
.side-nav-icon button{
	width: auto;
}
/* footer */
.footer{
	border-top: 1px solid;
	border-color: #b8d1c9;
	box-shadow: 3px 3px 16px #72d1b5;
	display: flex;
	flex-direction: row;
	/*position:absolute;*/
	align-content: flex-end;
	width: 100%;
	bottom:0;
	left:0;
}
.body-content{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
/* body content CONTENT*/
.body-content-section{
	flex: 1;
	margin: 5em 0 1em 0;
	padding: 0 20px;
	min-height: 100%;
}
.narrow-with-content{
	max-width: 1024px;
	margin: 0 auto;

}


/*
	Main Image at index html
*/
.mainImage{
	width: 100%;
	display: block;
	margin: 0 auto;
	box-sizing: border-box;
	height: auto;	
	position: relative;
}

.mainImage img{
    margin: auto;
    width: 100%;
    border:solid;
    border-width: 1px;
    border-radius: 12px;
    border-color: #b8d1c9;
}

.mainImage a{
	color: transparent; 
 }

.previousButton {
	display: block;
	position: absolute;
	background-image: url("../img/previousButton.png");
	background-size: 3em 3em;
	background-repeat: no-repeat;
	width: 3em;
	height: 3em;
	z-index: 5;
	opacity: 0.5;
	top: 45%;
	left: 0;
}


.nextButton {
	display: block;
	position: absolute;
	background-image: url("../img/nextButton.png");
	background-size: 3em 3em;
	background-repeat: no-repeat;
	width: 3em;
	height: 3em;
	z-index: 100;
	opacity: 0.5;
	top: 45%;
	right: 0;
}

/* Service intro on index html*/
.serviceIntro img {
	width: 30%;
	margin-top: 3em;
}


.button-view-small {
	margin:0.5em;
 	display: inline-block;
  	border: none;
  	padding: 0.3em 0.5em;
  	color: #FFF;
  	background-color: rgb(139,203,200);
  	border-radius: 0.25em;
  	text-decoration: none;
    -webkit-transition: background-color 0.5s ease-out;
  	transition: background-color 0.5s ease-out;
}

.button-view-small:hover, .button-view-small:focus {
  	background-color: #A8C7FF;
}


.button-wishList {
  	display: inline-block;
  	border: none;
  	padding: 0.2em 0.3em;
  	color: rgb(139,203,200);
  	font-size: 0.8em;
  	border-radius: 0.25em;
  	text-decoration: underline;
}

.button-view-large {
  display: inline-block;
  border: none;
  padding: 0.8em 1.2em;
  color: #fff;
  background-color: rgb(139,203,200);
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button-view-large:hover, .button-view-large:focus {
  background-color: #A8C7FF;
}

.button-cancel {
	background-color: rgba(236,23,105,0.3);
    color: #eee;
    padding: 0.8em 1em;
    margin-top: 0.5em;
    border: none;
    cursor: pointer;
    width: 30%;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.button-checkout {
    width: 60%;
    margin: 0 auto;
    display: block;
    text-align: center;
     -webkit-transition: background-color 0.5s ease-out;
  	transition: background-color 0.5s ease-out;
}





.pageNums {
	text-align: center;
	display: block;
	width: 100%;
	margin: 0em 0 3em 0;

}

.pageNums a {
	padding: 0.5em;
	border:solid;
    border-width: 0.5px;
    border-radius: 3px;
    border-color: #ccc;
    color: #aaa;
    text-decoration: none;
}

/* back to previous page buttom*/
.back-to-previous {
	padding: 1em;
	position: absolute;
}

.mainChairImage {
	width: 100%;
}

.subChairImage {
	width: 30%;
}


.materialImage img {
	width: 50%;
}

.productsImage {
	overflow-x: scroll;
	overflow-y: hidden;
	height: 120px;
	max-width: 1024px;
	display: block;
	margin: 0 auto;
}

.productsImage img{
	padding: 0.5em 0.2em;
	width: auto;
	height: 100px;
}

/* adding color to the product deteil page*/
#chair1Colour1 {background: rgb(57, 41, 35);}
#table1Colour1 {background: rgb(206, 161, 100);}

/*.chair1Colours div{
	height: 2em;
}*/
/* recent view section on product detail page */
.recentView-box {
	border-style: solid;
	border-color: #ccc;
	border-width: 1px;
	margin-bottom: 1em;

}

.recentView img {
	width: 30%;
}


/*Login*/
.loginForm {
	margin: 0 auto;
	/*padding: 2em;*/
	width: 50%;
	display: block;
}

.account {
	max-width: 50px;
	padding: 1em;
}





/*services page*/

.services img {
	width: 80%;
}

.services img {
	background-color: #ecf0f1;
	/*margin: 1em 0 1em 0;*/
	border-radius: 6px;
	/*cursor: pointer;*/
/*	 -webkit-transition: background-color 0.5s ease-out;
  	transition: background-color 0.5s ease-out;*/
}

/*.services div:hover, .services div:focus {
	background-color: #8BF0C8;
	color: #fff;
}*/

/*
	Adding tag on product selection
*/

/* Style the tab */

.stepNum {
	/*width: 22px;*/
	height: 22px;
	border-radius: 12px;
	/*margin: 1em 1em 0 1em; */
	text-align: center;
	padding: 2px;
}

.steps a{
	font-size: 0.8em;
	opacity: 0.6;
	cursor: pointer;
}

.stepbar{
	background-color: #eee;
	width: 100%;
	height: 26px;
	border-radius: 12px;
	margin-bottom: 2em;
}

#step1-1 {background-color: #aaa;}
#step1-2 {background-color: #eee;}



div.tab {
    overflow: hidden;
    /*margin-top: 2em;*/
    border-radius: 5px;
    background-color: rgba(139,203,200,0.5);
}

div.tab a{
	display: block;
/*    text-align: center;*/
    padding: 14px 16px;
    transition: 0.3s;
    /*font-size: 17px;*/
   	text-decoration: none;
}
/* Style the links inside the tab */
.process {
	color: #333;
}

.tablinks {
    color: #333;
    background-color: rgb(139,203,200);
}

/* Change background color of links on hover */
.tablinks:hover {
    background-color: rgb(236,199,12);
    color: #fff;
}

/* Create an active/current tablink class */
.tablinks:focus, .active {
    background-color: #ecb169;
    color: #fff;
    text-decoration: underline;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    /*border: 1px solid #ccc;*/
    border-top: none;
}
/* position of image on custom order page*/
/*.customImg{
	margin-top: 7em;
}*/


.size {
	padding: 2em;
}


.customProduct {
	/*height: 300px;*/
	border-style: solid;
	border-width: 3px;
	border-color: #ccc;
}

.payment {
	display: block;
	margin: 2em auto 2em auto;
	border-style: solid;
	width: 1024px;
	border-width: 2px;
	border-color: #ccc;
}

/* check out page image*/
.payment img {
	min-width: 50%;
}

.paymentMethod img{
	width: 20%;
	height: auto;
}

.orderInfo {
	padding: 2em;
}

.orderInfo p{
	text-align: left;
}

.quantity {
	width: 4em;
}

.account-order {
	width: 80%;
	border-style: solid;
	border-width: 1px;
	border-color: #eee;
	padding: 2em;
	margin: 1em auto;
	display: block;
}

.rencent-order {
	padding: 1em;
	color: #aaa;
	font-size: 0.9em;
}

.rencent-order p{
	text-align: left;
}

.searchOrder {
	margin: 1em;
}

.searchOrder input {
	width: 40%;
	font-size: 0.5em;
}

.searchOrder img {
	width: 5%;
	height: 100%;
	display: inline-block;
	vertical-align: middle
}

.account-payment {
    width: 80%;
	border-style: solid;
	border-width: 1px;
	border-color: #eee;
	margin: 1em auto;
	display: block;
	padding: 2em;
}

.account-payment p {
	text-align: left;
}


.account-payment img{
	width: 5%;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	margin: 0.5em;
}

.orderTrack {
	width: 80%;
	display: block;
	margin: 5em auto;
}

.trackTime {
	width: 96%;
	padding: 2%;
	display: block;
	margin: 2em auto;
}

.trackTime p{
	text-align: left;
	font-size: 0.8em;
}

.trackDetial {
	width: 100%;
	padding: 2em;
}

.trackDetial td {
	padding: 1em;
	background-color: #eee;
}

.line {
	display: block;
	margin: 4em auto;
    width: 100%;
    height: 2px;
    background-color: #aaa;
    position:relative;
}

.trackCircle {
    display:inline-block;
    width: 32px;
    height: 32px;
    position: absolute;
    margin:0 auto;
    border-radius: 100%;
    top:-15px;
}

#trackCircle1 {
    left:0;
    right:100%;
}

#trackCircle2 {
    background:#aaa;
    left:33%;
    right:66%;
}

#trackCircle3 {
    background:#aaa;
    left:66%;
    right:33%;
}


#trackCircle4 {
    background:#aaa;
    left:100%;
    right:0;
}

.line a {
	margin-top: 1em;
    display: inline-block;
    position: relative;
    right: 1.5em;
    width: 5em;
    text-align: center;
}





