#showLeftPush{
	padding: 0;
	margin: 0;
	border-width: 0;
	background-color: white;
	outline:none;
}


/* General styles for all menus */
.cbp-spmenu {
	background: white;
	position: fixed;
	border-right: 1px solid #666;
}

.cbp-spmenu h1 {
	color: #666;
	padding: 10px;
	padding-left: 1em;
	margin: 0;
	font-weight: 300;
	background: white;

}


/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

.cbp-spmenu-vertical a {
/*	border-bottom: 1px solid #258ecd;
*/	padding: 1em 1em 1em 3em;
}
/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -241px;
	top: 50px;
}


.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
	top: 50px;
}


/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 240px;
}


/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
