/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
body {
  font-family: sans-serif;
  padding: 2rem;
}

section:not([id]) {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}

section h3 {
  margin-bottom: 0;
}

section p {
  margin-top: 0;
}

section code {
  background-color: #EEE;
  padding: 0 0.5em 0 0;
}


/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: black;
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}


.button-nav:hover, .button-nav:focus {
  color: rgb(236,199,12);
}

.intext-link {
  display: inline-block;
  color: #000;
  text-decoration: underline;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.intext-link:hover, .intext-link:focus {
  color: #cabc95;
  text-decoration: none;
}

/* Styling for the submit button */
.button-submit {
  display: inline-block;
  border: none;
  padding: 0.5em 0.75em;
  color: #FFF;
  background-color: #333;
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button-submit:hover, .button-nav:focus {
  background-color: rgb(218,233,228);
}

.input-text[type=text] {
    width: 10em;
    padding: 0.5em 0.75em;
    margin: 0.2em;
    box-sizing: border-box;
    border: 0.15em solid #cccccc;
    color: #555
}

/* 
  TEXT ELEMENTS -------------------
*/

/* Styling for the heading */
.h1{
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
  font-size: 2.5rem;
  font-weight: bold;
}
.h2{
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
  font-size: 2rem;
  font-weight: bold;
}
.h3{
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
}

/* Styling for the description */
.desc{
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
  font-size: 1rem;
  font-style: italic;
}

/* Styling for the paragra */
.para{
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
  font-size: 1rem;
}

.icon{
  width: 50px;
  height: 40px;
}
/* 
  COMBINED ELEMENTS -------------------
*/

/* Styling for the main navigation */
.main-nav{
  list-style-type: none;
}
.main-nav li{
  float: left;
  padding: 0 2rem;
}
/* Styling for the side navigation */
.side-nav{
  list-style-type: none;
}
.side-nav li{
  padding: 0.5rem 0;
}

[class^='grid-col-'] {
  float: left;
}

.grid-col-1of4 {
  width: 24%;
}

.grid-row::after {
  content: "";
  display: block;
  clear: both;
}

@media (max-width: 30em) {
  .grid-col-1of4 {
    width: 100%;
  }
}



[id^='colour'] {
  float: left;
}

#colour1 {
  margin: 0.5em;
  background-color: #DAE9E4;
  width: 5em;
  height: 5em;
}

#colour2 {
  margin: 0.5em;
  background-color: #8BCBC8;
  width: 5em;
  height: 5em;
}

#colour3 {
  margin: 0.5em;
  background-color: #ECC7C0;
  width: 5em;
  height: 5em;
}

#colour4 {
  margin: 0.5em;
  background-color: #3C2E3D;
  width: 5em;
  height: 5em;
}


#colour5 {
  margin: 0.5em;
  background-color: #000000;
  width: 5em;
  height: 5em;
}

#colour6 {
  margin: 0.5em;
  background-color: #FFFFFF;
  width: 5em;
  height: 5em;
}

