/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
body {
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  padding: 2rem;
}

section:not([id]) {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}

section h3 {
  margin-bottom: 0;
}

section p {
  margin-top: 0;
}

section code {
  background-color: #EEE;
  padding: 0 0.5em 0 0;
}


/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-view {
  margin:0.5em;
  display: inline-block;
    border: none;
    padding: 0.3em 0.5em;
    color: #FFF;
    background-color: rgb(139,203,200);
    border-radius: 0.25em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

.button-view:hover, .button-nav:focus {
    background-color: rgb(138,203,230);
}

.intext-link {
  display: inline-block;
  color: #000;
  text-decoration: underline;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.intext-link:hover, .intext-link:focus {
  color: #cabc95;
  text-decoration: none;
}

/* Styling for the submit button */
button {
    background-color: #8BCBC8;
    color: white;
    padding: 0.8em 1em;
    margin: 0.5em 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
/*.button-submit {
  display: inline-block;
  border: none;
  padding: 0.5em 0.75em;
  color: #FFF;
  background-color: #333;
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button-submit:hover, .button-nav:focus {
  background-color: rgb(180,137,69);
}*/

input[type=text], input[type=password] {
    width:  100%;
    padding: 1em 1.5em;
    margin: 0.5em 0;
    display: inline-block;
    border: 1px solid #8BCBC8;
    box-sizing: border-box;
    color: #aaa;
}

/* 
  TEXT ELEMENTS -------------------
*/

/* Styling for the heading */
h1{
  font-size: 1.5rem;
    font-weight: bold;
}
h2{
    font-size: 1.1rem;
    font-weight: bold;
}
h3{
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
}

/* Styling for the description */
.desc{
    font-size: 1rem;
    text-align: left;
    font-style: italic;
}
/* Styling for the paragra */
.para{
  /*color: rgb(150,150,150);*/
    font-size: 1rem;
    text-align: left;
}

.icon{
  width: 25px;
  display: inline-block;
}
.logo{
  width: 100px;
  height: auto;
}
/* 
  COMBINED ELEMENTS -------------------
*/

/* Styling for the main navigation */
.main-nav a{
  text-decoration: none;
}

/* adding border to main nav*/
.main-nav-section{
  border-bottom: 1px solid;
  border-color: #b8d1c9;
  background-color: white;
  box-shadow: 3px 3px 16px #72d1b5;
}

.main-nav-direction ul{
  list-style: none;
}
.main-nav-direction li{
  font-size: 1rem;
  text-align: center;
  line-height: 30px;
}

/* editing main nav and side nav link */
.main-nav-direction a, .cbp-spmenu a{
  display: block;
  color: rgb(139,203,200);
  text-decoration: none;
}

.main-nav-direction a:hover,.main-nav-direction a:focus, .cbp-spmenu a:hover, .cbp-spmenu a:focus {
  text-decoration: none;
  color: rgb(236,199,12);
}
a.select{
  color: #666;
  text-decoration: underline;
  text-shadow: 0px 6px 3px #666;
}

/* Styling for the side navigation */
#showLeftPush{
  padding: 0;
  margin: 0;
  border-width: 0;
  background-color: white;
  outline:none;
}
.cbp-spmenu {
  background: white;

  border-right: 1px solid #666;
}

.cbp-spmenu h1 {
  color: #666;
  padding: 10px;
  padding-left: 1em;
  margin: 0;
  font-weight: 300;
  background: white;

}

/* Grid structure */
/* link to flex box css*/
[class^='col-of'] {
  border:1px solid;
}


[id^='colour'] {
  float: left;
}

#colour1 {
  margin: 0.5em;
  background-color: #DAE9E4;
  width: 5em;
  height: 5em;
}

#colour2 {
  margin: 0.5em;
  background-color: #8BCBC8;
  width: 5em;
  height: 5em;
}

#colour3 {
  margin: 0.5em;
  background-color: #ECC7C0;
  width: 5em;
  height: 5em;
}

#colour4 {
  margin: 0.5em;
  background-color: #3C2E3D;
  width: 5em;
  height: 5em;
}


#colour5 {
  margin: 0.5em;
  background-color: #000000;
  width: 5em;
  height: 5em;
}

#colour6 {
  margin: 0.5em;
  background-color: #FFFFFF;
  width: 5em;
  height: 5em;
}

